<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http">
					<clientProviders>
						<formatter ref="binary">
						</formatter>
					</clientProviders>
				</channel>
			</channels>
			<client>
				<wellknown type="Yaz.WorkFlow.Gdtrp.Interface.IGdtrp, WorkFlow.Gdtrp.Interface" url="http://10.100.80.41:8081/devnet/gdtrp.rem"/>
				<wellknown type="Yaz.Das.Interface.IDas, Das.Interface" url="http://10.100.80.41:8081/devnet/das.rem"/>
				<wellknown type="Yaz.WorkFlow.Kkbs.Interface.IWfKkbs, WorkFlow.Kkbs.Interface" url="http://10.100.80.41:8081/devnet/wfkkbs.rem"/>
				<wellknown type="Yaz.Bpm.Interface.IBpm, Bpm.Interface" url="http://10.100.80.41:8081/devnet/bpm.rem"/>
				<wellknown type="Yaz.Workflow.Kkld.Interface.IWfKkld, Workflow.Kkld.Interface" url="http://10.100.80.41:8081/devnet/wfkkld.rem"/>
				<wellknown type="Yaz.WorkFlow.Kktah.Interface.IWfKktah, WorkFlow.Kktah.Interface" url="http://10.100.80.41:8081/devnet/wfkktah.rem"/>
				<wellknown type="Yaz.WorkFlow.Kkmti.Interface.IWfKkmti, WorkFlow.Kkmti.Interface" url="http://10.100.80.41:8081/devnet/wfkkmti.rem"/>
				<wellknown type="Yaz.WorkFlow.Disgh.Interface.IWfDisgh, WorkFlow.Disgh.Interface" url="http://10.100.80.41:8081/devnet/wfdisgh.rem"/>
				<wellknown type="Yaz.Workflow.Bfdbs.Interface.IWfBfdbs, Workflow.Bfdbs.Interface" url="http://10.100.80.41:8081/devnet/wfbfdbs.rem"/>
				<wellknown type="Yaz.Workflow.Kkfk.Interface.IWfKkfk, Workflow.Kkfk.Interface" url="http://10.100.80.41:8081/devnet/wfkkfk.rem"/>
				<wellknown type="Yaz.Workflow.Fkgun.Interface.IWfFkgun, Workflow.Fkgun.Interface" url="http://10.100.80.41:8081/devnet/wffkgun.rem"/>
				<wellknown type="Yaz.Util.User.Interface.IUser, Util.User.Interface" url="http://10.100.80.41:8081/devnet/user.rem"/>
				<wellknown type="Yaz.Util.Common.Interface.ICommon, Util.Common.Interface" url="http://10.100.80.41:8081/devnet/common.rem"/>
				<wellknown type="Yaz.Util.Control.Interface.IControl, Util.Control.Interface" url="http://10.100.80.41:8081/devnet/control.rem"/>
				<wellknown type="Yaz.Util.CommonDml.Interface.ICommonDml, Util.CommonDml.Interface" url="http://10.100.80.41:8081/devnet/commondml.rem"/>
				<wellknown type="Yaz.ControlLibrary.Interface.IUcHesapNo, Control.Hesap.Interface" url="http://10.100.80.41:8081/devnet/uchesapno.rem"/>Q
				<wellknown type="Yaz.ControlLibrary.Interface.IUcEkNo, Control.Hesap.Interface" url="http://10.100.80.41:8081/devnet/ucekno.rem"/>
			</client>
		</application>
	</system.runtime.remoting>
	<appSettings>
		<add key="FatDev" value="FATDEV"/>
		<add key="OracleInstance" value="YAZDBDEV"/>
		<add key="Tahsilat" value="YAZDBDEV"/>
		<add key="YAZDBTEST" value="YAZDBDEV"/>
		<add key="YAZDBDEV" value="YAZDBDEV"/>
		<add key="OracleInstance" value="YAZDBDEV"/>
		<add key="Tahsilat" value="FATTEST"/>
		<add key="YAZDB" value="YAZDBDEV"/>
		<add key="Sorgu" value="SORGU"/>
		<add key="KKart" value="OCEANTEST"/>
		<add key="OcDev" value="OCDEV"/>
		<add key="Ocean" value="OCEANTEST"/>
		<add key="Ocasya" value="OCASYA"/>
		<add key="OceanTest" value="OCEANTEST"/>
		<add key="ITest" value="WEBDEV"/>
		<add key="Eski" value="ESKI"/>
		<add key="Dev90" value="YAZDBDEV"/>
		<add key="YAZDBDEV" value="YAZDBDEV"/>
		<add key="PusulaInstance" value="YAZDBDEV"/>
		<add key="PusulaEnvironmentInstance" value="FATDEV"/>
		<add key="PusulaCoreBankingInstance" value="YAZDBDEV"/>
		<add key="FatTest" value="FATTEST"/>
		<add key="FtpServer" value="10.10.1.4"/>
		<add key="SmtpServer" value="10.100.80.120"/>
		<add key="Side" value="C"/>
		<add key="RemoteConfig" value="T"/>
		<add key="HavuzLogStatus" value="H"/>
		<add key="SurecLogStatus" value=""/>
		<add key="MailManagerLogStatus" value="E"/>
		<add key="FaxManagerLogStatus" value="E"/>
		<add key="FtpManagerLogStatus" value="E"/>
		<add key="EkranLogStatus" value="E"/>
		<add key="LogThresholdMin" value="5000"/>
		<add key="LogThresholdMax" value="120000"/>
		<add key="AvailableFrameworkVersion" value="v2.0 SP1"/>
		<add key="LogPerformansStatus" value="E"/>
		<add key="ServiceDesk" value="http://SERVICEMAN.asyalocal.com.tr:13082/SM/7/ws"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="Pusula_ValidationManagementLogStatus" value="E"/>
		<add key="Pusula_Document_Adress_Root" value = "C:\Dokuman\Pusula\"/>
		<add key="Pusula_Document_Deleted_Adress_Root" value="C:\Dokuman\Pusula\Recycle\" />
		<add key="Das_Document_Adress_Root" value="C:\Dokuman\"/>
		<add key="NbsmKobiService" value="http://10.100.47.77:8080/DAWebServService/DAWebServ?wsdl" />
		<add key="OrgKirilimLogYaz" value="H"/>
		<add key="TraceStatus" value="E"/>
		<add key="EmailDomain" value="yaz.com.tr"/>



	</appSettings>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
				<bindingRedirect oldVersion="10.1.0.400-10.1.0.401" newVersion="2.112.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>